<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 <title>Document</title>
</head>
<body>
 <div class="container mt-4">
  <a href="/User/allUsers" class="btn btn-sm btn-primary">getAllUsers</a><br/><br/>
  <a href="/departement/addDepartement" class="btn btn-sm btn-primary">add Departement</a><br/><br/>
  <form action="/User/addUser" method="post">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter Your Name"  name="name" required>
    </div>
    <div class="form-group">
        <label for="name">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Your Email"  name="email" required>
      </div>
    <div class="form-group">
      <label for="phone">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter Your Password" name="password" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Departements</label>
      
      <select name="departementId">
        <option value="" selected>Departement</option>
        <% if(results.length === 0) { %> 
        <option value="1">1</option>
        <% } else { %>
            <% for(let result of results) { %>
                <option value="<%= result.id %>"><%= result.name %></option>
            <% } %>
        <% } %>
    </select>
      
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</body>
</html>